services:
  postgres:
    image: postgres:17
    container_name: bha-pg
    shm_size: 256mb
    env_file:
      - .env
    ports:
      - '5433:5432'
    volumes:
      - ./db/schema:/docker-entrypoint-initdb.d/
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U merry -d bha_db']
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: .
      dockerfile: ./apps/backend/Dockerfile
    container_name: bha-backend
    env_file:
      - .env
    ports:
      - '4000:4000'
    depends_on:
      postgres:
        condition: service_healthy

  frontend:
    build:
      context: .
      dockerfile: ./apps/frontend/Dockerfile
    container_name: bha-frontend
    env_file:
      - .env
    ports:
      - '3000:3000'
    depends_on:
      - backend
