# Environment
NODE_ENV=development

# Postgres required
POSTGRES_USER=merry
POSTGRES_PASSWORD=secondbreakfast
POSTGRES_DB=bha_db

# Backend Configuration
DB_HOST=postgres
DB_USER=merry
DB_PASSWORD=secondbreakfast
DB_NAME=bha_db
DB_PORT=5432

# JWT Secret (change this in production!)
JWT_SECRET=yourjwtsecret

# Server Configuration
BACKEND_PORT=4000

# Frontend Config
BACKEND_INTERNAL_URL=http://backend:4000