name: Lint and Format

on:
  push:
  pull_request:

jobs:
  lint-and-format:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'npm'
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        run: npm install

      - name: Format according to prettier config
        run: npm run format

      - name: Run ESLint (fails on any lint errors)
        run: npm run lint
